<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>  
      <clear />  
      <add name="caseStudyDB"   
       providerName="System.Data.ProviderName"   
       connectionString="Server=localhost;Port=5432;User ID=sayaka;Database=postgres;Password=postgres;Enlist=true" />  
    </connectionStrings> 
</configuration>
