<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>  
      <clear />  
      <add name="caseStudyDB"   
       providerName="System.Data.ProviderName"   
       connectionString="Server=localhost;Port=5432;User ID={your_user_id};Database=postgres;Password={your_password};Enlist=true" />  
    </connectionStrings> 
</configuration>
